
<style>
.main
	{
	width:70%;
	margin: 0 auto;
	background: #eee;
}

.alert {
	background: red;
	color: white;
}

.warn {
	background: yellow;
}

li {
	width: 20%;
    float: left;
    border: 3px solid black;
    margin: 3px;
    height: 100px;
	    text-align: center;
	font-weight: bold;
	text-align: center;
}

li span {
	font-size: 50px;
	    font-weight: lighter;
		width: 100%;
		display: table;
}

ul {
  list-style-type: none;
}
</style>
<div class="main">

<h1>RAPORT</h1>

<img src="../inputseries.png" width="100%" />

<ul>
{% for name in degarr %}
<li>{{ name }} <span>{{degarr[name]}}%</span></li>
{% endfor %}
</ul>
<div>
{{ final_words }}
</div>

<img src="../timeseries_rap.png" width="100%" />

</div>
